
.boton-amarillo {
    @include boton ($amarillo, inline-block);
    transition: font-size .3s ease;
    &:hover {
        font-size: 1.66rem;
    }
}
.boton-amarillo-block {
    @include boton ($amarillo, block)
}
.boton-verde {
    @include boton ($verde, inline-block);
    transition: font-size .3s ease;
    &:hover {
        font-size: 1.66rem;
    }
}
.boton-rojo-block {
    @include boton ($rojo, block);
    width: 100%;
}