.alerta {
  padding: 0.5rem;
  text-align: center;
  color: $blanco;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0;
  &.error {
    background-color: $rojo;
  }
  &.exito {
    background-color: $verde;
  }
}
table.propiedades {
  margin-top: 2rem;
  border-collapse: separate ;
  border-spacing: 0 8px;

  thead {
    background-color: $verde;
    th {
      color: $blanco;
      padding: 2rem;
    }
  }

  .iamgen-tabla {
    width: 10rem;
  }
}
